/* Cores da página */
:root {
  --color-one:#005dff;
  --color-two:#FFFFFF;
  --color-tree:#cfcccc;
  --color-four:#0e46a6;
  --color-five:#bec8d7;
  --color-six:#050A14;
  --color-seven:#050e1f9d;
  --color-eight:#0047CC;
  --color-nine:#005eff0e;
  --color-ten:#03060d;
  --color-eleven:#070D1A;
  --color-twelve:#2270f62e;
  --color-thirteen:#000000;
  --color-fourteen:rgba(52, 51, 51, 0.414);
  --color-fiveteen:#bec8d744;
}

/**/